.circular-div {
    border: 3px solid blue;
    color: white;
    background-color: blue;
    height: 100;
    width: 100;
    border-radius: 100px;
    margin: 10px;
    padding: 20px;
}

.margin-right {
    margin-right: 5px;
}


.bold-text {
    font-weight: bolder
}

.red-text {
    color: red;
}

.right-margin {
    margin-right: 5px;
}

.body {
    margin-top: 50px;
    margin-bottom: 40px;
    height: 100%;
}


a {
    cursor: pointer
}

.main-menu-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sub-menu-box {
    padding: 0;
    background-color: rgba(163, 189, 230, 0.3);
    margin: 0 10px;
    width: 33.3333%;
    border-radius: 10px;
    
}

.main-menu-sub-header{
    border: 1px solid rgba(88, 142, 230, 0.5);
    margin-bottom: 20px;
    background-color: rgba(163, 189, 230);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-menu-button {
    width: 100% ;
    margin-bottom: 20px;
}

.error-banner {
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: darkred;
    font-size: 20px;
}

.header {
    background-color: rgba(163, 189, 230, 0.95);
    border-bottom: darkblue solid 1px;
    right: 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
    z-index: 100;
}


.header-left, .header-right {
    margin: 10px 20px;
    font-size: 30px;
}

.footer {
    bottom: 0;
    background-color: rgba(163, 189, 230, 0.95);
    height: 30px;
    left: 0;
    position: fixed; 
    font-size: 20px;
    width:100%;
    border-top: darkblue solid 1px;
 }

 .patient-search-info-box {
     padding: 50px;
     text-align: center;
 }


 li:hover {
    cursor: pointer;
    background-color: rgba(163, 189, 230, 0.3);
 }

 tr:hover td {
    cursor: pointer;
    background-color: rgba(157, 186, 233, 0.322);
 }

.rximage-border {
    border: solid rgba(163, 189, 230, 0.5) 1px;
    padding-top: 5px;
    text-align: center
}

.rximage-border:hover {
    cursor: pointer;
    background-color: rgba(163, 189, 230, 0.3);
}

